@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

.title-para{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title-para h4{
  color: #85B2E2;
  display: flex;
  margin-bottom: 3%;
}



  .otp-input {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    font-family: Poppins;
  }
  .form-control:target {
    color: white !important;
}
 

  .resendotp p a{
    text-decoration: none;
    color: #ffff;
  }
 #fogot-pwd{
  width:300px;
  height: 52px;
  background-color:#ffffff !important;
  opacity: 1;
  color:#165ca7;
  border-radius: 25px;
  border: none;
  font-family: "Poppins" !important;
  font-weight: 600;
 }