.grid-container{
 display:grid;
 grid-template-columns: 20% 80%;
 grid-gap:10px;
}
@media(max-width:830px){
    .grid-container{
        grid-template-columns: 100%;
    }
    .sidebar{
        display:none
    }
}