.header-container{
    position: relative;
    margin-top: -1%;
    width:100%;
    margin-left: -1%;
    height:18vh;
    background-color:#4fabc2;
    display: flex;
    justify-content: space-between;
    
}
.header-title{
    background-color: #4fabc2;
    display: flex;
       
}
.header-title p{
    background-color: #4fabc2;
    
    color: #fff;
    padding-left: 40px;
    padding-top: 30px;
    font-weight: 600;
}
.search-notify{
    display: flex;
    justify-content: end;
}

.header-notify{
 display: flex;
  background-color: #4fabc2 !important;
}
#notify-button{
    width:54px;
    height: 52px;
    background-color: #398192 !important;
    border: none;
    border-radius: 12px;
    margin-top: 20px ;
    margin-right: 20px;
}
.total{
  position: absolute;
  display: flex;
  background-color: #0c1320;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  color: #fff;
  border-radius: 20px;
  width: 160px;
  height: 120px;
  top: 45px;
  
  margin-left: 25px;
  padding: 15px;
}

.total p{
    background-color: transparent;
    color: #D1D1D1;
    
}
#total1{
  font-size: 14px;
  
}
#total2{
   color: #fff;
   font-size: 20px;
}
#total3{
    font-size: 12px;
}

.header-serach{
    display: flex;
    background-color: #4fabc2;
    justify-content: end;
    cursor: pointer;
    
    
    
}
#header-input{
    width:400px;
    height: 52px;
    background-color:#398192 !important;
    border: none;
    border-radius: 12px;
    margin-top: 20px;
    display: flex;
    justify-content: start;
    color: #fff;
     gap: 9px;
    margin-right: 10px;
    position: relative;
    margin-left: 30px;
}

#header-input:focus{
    outline: none;
    padding-left: 10px;
  }


.bi-search{
  position: absolute;
  top: 35px;
  padding-right: 384px;
  color:#FFFFFF;
}

input[type="search"]::placeholder{

padding-left: 35px !important;
color: #FFFFFF;

 
}
