
.safe-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    color: #fff;
}
.safe-btn{
    color: #FF0000;
    border: 1px solid #FF0000;
    background-color: transparent;
}

.table{
    margin-top: 25px;
}
.table tbody tr td{
    border: none;
    
}
.table thead th{
    border: none;
}
